@model RemTask.Models.TaskD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Due)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
